body {
    font-family: 'Segoe UI', sans-serif;
}


.card.category {
    transition: transform 0.3s;
    height: 350px;
}

.card.category:hover {
    transform: scale(1.05);
}
.card-img-top {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 200px);
}

footer {
    margin-top: 50px;
}